<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811652773194-nbcdjih0ic9pincu1l37sh5lesahj3p4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811652773194-nbcdjih0ic9pincu1l37sh5lesahj3p4</string>
	<key>API_KEY</key>
	<string>AIzaSyAChlweKqE-eFc3xPoBYn4KuG5iEMlAUYo</string>
	<key>GCM_SENDER_ID</key>
	<string>811652773194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gymapp.gymapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gymapp-cd84c</string>
	<key>STORAGE_BUCKET</key>
	<string>gymapp-cd84c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811652773194:ios:2de657cd317ce59c2cfdb3</string>
</dict>
</plist>